<div class="container" >
    <div class="row">
    <div class="blog-post">
        
        <h2 class="blog-post-title">{{ product.title }}</h2>
        <img v-if="product.imgname" :src="'components/dock/soss-uploader/service/get/d_cms_artical/'+product.id+'-'+product.imgname" alt="post img" width="300" class="pull-left img-responsive postImg img-thumbnail margin10">
        <article v-html="compiledMarkdown">
         
        </article>
        
    </div>
    </div>
    <div class="row" v-if="product.showpics=='y'">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb" v-for="image in p_image" v-if="product.imgname!=image.name">
                <a  class="thumbnail" v-on:click="showModal('components/dock/soss-uploader/service/get/d_cms_artical/'+product.id+'-'+image.name)" :src="'components/dock/soss-uploader/service/get/d_cms_artical/'+product.id+'-'+image.name"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                    :src="'components/dock/soss-uploader/service/get/d_cms_artical/'+product.id+'-'+image.name"
                         :alt="image.caption" >
                </a>
            </div>
            
        </div>


        <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- <img id="image-gallery-image" class="img-responsive col-md-12" src=""> -->
                        <img class="img-responsive col-md-12" :src="currentImage">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
                        </button>

                        <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.1&appId=2048153755495242&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5"></div>
</div>
