<div class="container" >
    <!--Information layer-->
    <div class="row">
        <div class="alert alert-danger" v-if="submitErrors" v-for="error in submitErrors">
          <strong>ERROR! </strong> {{error}}
        </div>
    </div>
    <div class="row">
    <form style="color:black;">
        <a v-on:click="navigateBack()" class= "dock-link">Back</a>
        <div class="form-group">
          <label for="exampleInputEmail1">ID</label>
          <input type="number" class="form-control" v-model="product.id"  disabled="disabled">
        </div>
        
        <div class="form-group">
          <label for="exampleInputPassword1">Publish date</label>
          <div class="input-group">
            <div class="input-group-addon">
          
            
            <input type="text" class="form-control" id="grnDatePicker" data-date-format="mm-dd-yyyy" v-model="product.createdate"/>
            
        </div>
          
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Title</label>
          <input type="text" class="form-control" v-model="product.title">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">summery</label>
          <textarea class="form-control" v-model="product.summery"></textarea>
          
        </div>
        
        <div class="form-group">
          <label for="exampleInputPassword1">Content</label>
          <textarea class="form-control" rows="10" v-model="product.content"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Tags</label>
          <textarea class="form-control" v-model="product.tags"></textarea>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="feature">Feature</label>
            <div class="col-md-4"> 
              <label class="radio-inline" for="feature-0">
                <input type="radio" id="feature-0" value="y" name="feature" v-model="product.boost">
                Yes
              </label> 
              <label class="radio-inline" for="feature-1">
                <input type="radio" id="feature-1" value="n" name="feature" v-model="product.boost">
                No
              </label> 
            </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Input Tags</label>
          <div class="col-sm-7">
            <input name="tags" id="tags" class="form-control" value="foo,bar,baz" style="display: none;"><div id="tags_tagsinput" class="tagsinput" style="width: auto; height: 100px;"><span class="tag"><span>foo&nbsp;&nbsp;</span><a href="#" title="Removing tag">x</a></span><span class="tag"><span>bar&nbsp;&nbsp;</span><a href="#" title="Removing tag">x</a></span><span class="tag"><span>baz&nbsp;&nbsp;</span><a href="#" title="Removing tag">x</a></span><span class="tag"><span>ddd&nbsp;&nbsp;</span><a href="#" title="Removing tag">x</a></span><div id="tags_addTag"><input id="tags_tag" value="" data-default="add a tag" style="color: rgb(102, 102, 102); width: 68px;"></div><div class="tags_clear"></div></div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="feature">Show All Pictures</label>
          <div class="col-md-4"> 
            <label class="radio-inline" for="showpics-0">
              <input type="radio" id="showpics-0" value="y" name="showpics" v-model="product.showpics">
              Yes
            </label> 
            <label class="radio-inline" for="showpics-1">
              <input type="radio" id="showpics-1" value="n" name="showpics" v-model="product.showpics">
              No
            </label> 
          </div>
      </div>
        <div class="form-group">
          <div class="form-group files">
            <label>Upload Your File </label>
            <input type="file" class="form-control" multiple="" @change="onFileChange" v-model="files">
          </div>
          <div>
              <div class="row">
                  <div class="col-md-3" v-for="(image,index) in p_image">
                    <figure class="imghvr-fade">
                      <img :src="image.scr" class="img-responsive">
                      <figcaption>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Title</label>
                            <input type="text" class="form-control" :value="'![alt text](components/dock/soss-uploader/service/get/d_cms_artical/'+product.id+'-'+image.name+')'">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Caption</label>
                            <textarea class="form-control" v-model="image.caption"></textarea>
                            
                          </div>
                        <label class="radio-inline" for="gender">
                          <input type="radio" name="gender" v-model="product.imgname" :value="image.name"> 
                            Default Image
                          </label> 
                        <br/>
                      <div class="btn-group">
                        
                        <button @click="removeImage(index)" class="btn btn-default">Remove image</button>
                      </div>
                      </figcaption>
                    </figure>
                  </div>
            </div>
          </div>
        </div>
      </div>
      
        <input id="send" class="btn btn-primary" v-on:click="submit" value="Submit"/>
  </form>
  </div>
</div>
